<a href="https://colab.research.google.com/github/PankajMoolrajani/random/blob/master/SQL_Playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import mysql.connector

mydb = mysql.connector.connect(
  host = "SG-sftmysql-153-master.servers.mongodirector.com",
  user = "sgroot",
  passwd = "El9QfYB-2oX4mypV"
)
cursor = mydb.cursor()
query = 'show databases'
cursor.execute(query)
for x in cursor:
  print(x)

In [0]:
def executeSQL(sql_statement):
  try:
    cursor.execute(sql_statement)
    for result in cursor:
      print (result)
  except Exception as e:
    print (e)

In [0]:
sql_statement = 'select * from users'
executeSQL(sql_statement)